body{
    margin-top: 0;
    background-color: rgb(193, 192, 192);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#banniere{
    background-image: url(../img/fond.jpg);
    width: 55%;
    height: 300px;
    border: 1px solid rgb(240, 240, 245);
    background-size: cover;
    background-position: center;
    margin: auto;
    min-width: 530px;
}
#banniere p{
    text-align: center;
    font-size: 40px;
    color: rgb(233, 233, 251);
    letter-spacing: -3px;
    line-height: 200px;
}
#container{
    width: 55%;
    margin: auto;
    background-color: rgb(237, 235, 235);
    border: 1px solid rgb(239, 239, 240);
    color: rgb(52, 49, 49);
    min-width: 530px;
}
h1, h2{
    text-align: center;
    margin:0px;
    padding: 5px;
}
h3{
    padding: 10px;
    margin-left:30px;
    text-decoration: underline;
}
ul li{
    list-style: none;
    border: 1px solid black;
    padding: 2px;
    width: 40%;
    margin-left: 30px;
    border-bottom: none;
}
li:last-child{
    border-bottom: 1px solid black;
}
#footer{
    background-color: #104465;
    text-align: center;
    color: whitesmoke;
    height: 150px;
    width: 55%;
    margin: auto;
    padding-top: 2px;
    min-width: 530px;
}
#git{
    width: 80px;
}
#git:hover{
    opacity: 0.8;
}
ul a{
    text-decoration: none;
    color: rgb(39, 37, 37);
    display: block;
    padding: 4px;
    padding-left: 5px;
}
a:hover{
    color: white;
    background-color: #104465
}
