body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#contain{
    width: 50%;
    border: none;
}
div{
    padding: 30px;
    border: 1px solid black;
    margin: auto;
}
#orange{
    background-color: rgb(203, 147, 44);
    position: relative;
    right: 80%;
}
#violet{
    background-color: rgba(183, 95, 183,0.852);
    position: relative;
    left: 20%;
}
#vert{
    background-color: rgb(47, 168, 47);
}
a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    background-color:#104465;
    border-radius: 5px;
}
a:hover{
    background-color: #165e8c;
}
main{
    margin-top: 30px;
}